body{
    background-color: #f0f7d8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239dff01' fill-opacity='0.83' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
table{
    width: 80%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
th, td{
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.3em;
    
}
caption{
    padding: 0.3em;
    color: aquamarine;
    background: black;
    font-weight: bold;
    font-style: italic;
    font-size: 150%;

}
thead, th{
    background: rgb(85, 42, 265);
    font-size: 100%;
}
img{
    width: 60%;
    border-radius: 3px;
}
