*{
padding: 0;
margin: 0;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: black;
text-decoration: none;
text-align: center;


}
.titulo{
    padding: 40px;
}
nav ul{
    width: 80%;
    margin: auto;
    border-radius: 10px;
    list-style-type: none;
    background-color: rgb(255, 238, 0);
}

nav li{
    display: inline-flex;
}

nav a{
    padding: 10px;
    width: 150px;

}

nav ul a:hover{
background-color: white;
}

.contenido{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.contenido .articulo{
    width: 70%;
    margin: auto;
}

.contenido .articulo div{
    width: 80%;
    padding: 15px;
    background-color: rgb(58, 235, 248);
    border-radius: 15px;
    margin-bottom: 15px;

}

.contenido .articulo img{
    width: 80%;
    border-radius: 15px;
}

.contenido .secundaria{
    width: 30%;
}
.contenido .secundaria p{
    background-color: rgba(49, 107, 2, 0.87);
    border-radius: 15px;
    padding: 20px;
    height: 1060px;

}
.piedepagina{
    background-color: rgba(46, 154, 24, 0.952);
    margin: 100px;

}
.piedepagina p{
    padding: 100px;
}
.titulo h1{
    font-size: 40px;
    color: brown;

}
h2{
    font-size: 30px;
    color: brown;
}
.secundaria p{
    font-size: 25px;
    color:aqua;
    text-align: justify;
}
.piedepagina {
    font-size: 15px;
    color:aqua;
    text-align: justify;
}
p{
    text-align: justify;
}
/*
.articulo{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

}

      */

